body {
  margin: 0;
  max-width: 100%;
}
.sec-1 {
  text-align: center;
  z-index: -2;
  position: relative;
  background-color: #f5b971;
  min-height: 35rem;
  font-family: "Asap", sans-serif;
  overflow: hidden;
}

.sec-1 h1 {
  font-family: "Archivo Black", sans-serif;
  margin: 0;
  color: #aa732f;
  font-size: 5rem;
  font-weight: bold;
  margin: 40px auto 0;
  z-index: 2;
}
.sec-1 h6 {
  color: #facb88;
  font-size: 2rem;
  margin: 10px auto;
  z-index: 2;
}
.sec-1 img {
  position: absolute;
  width: 75%;
}
.shoe1 {
  top: -20%;
  left: -25%;
  transform: rotate(-50deg);
}
.shoe2 {
  right: -25%;
  top: -10%;
  transform: rotate(-20deg);
}
a {
  max-height: 20px;
}
.shopping-button {
  display: inline-block;
  margin: 15px auto;
  background-color: #facb88;
  color: #f5b971;
  border: 0;
  padding: 8px;
  border-radius: 5px;
  font-weight: bold;
  text-decoration: none;
}
.shopping-button:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (max-width: 1100px) {
  .sec-1 {
    min-height: 30rem;
  }
}
@media (max-width: 930px) {
  .sec-1 {
    min-height: 25rem;
  }
}
@media (max-width: 760px) {
  .sec-1 {
    min-height: 20rem;
  }
  .shoe1 {
    z-index: -1;
  }
  .shoe2 {
    transform: rotate(30deg);
    right: -75px;
    top: 75px;
  }
}
@media (max-width: 675px) {
  .sec-1 {
    min-height: 17rem;
  }
  .shoe2 {
    transform: rotate(30deg);
    right: -125px;
    top: 75px;
  }
}
@media (max-width: 600px) {
  .sec-1 {
    min-height: 15rem;
  }
  .shoe2 {
    transform: rotate(30deg);
    right: -125px;
    top: 75px;
  }
}
@media (max-width: 474px) {
  .sec-1 {
    min-height: 13rem;
  }
@media (max-width: 400px) {
  .sec-1 {
    min-height: 12rem;
  }
}
